<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="FoldingCoin"
         connectionString="Server=(localdb)\MSSQLLocalDB;Database=FoldingCoin;Integrated Security=true;" />
  </connectionStrings>
  <appSettings>
    <add key="DownloadUrl" value="http://127.0.0.1/daily_user_summary.txt.bz2" />
    <!--<add key="DownloadUrl" value="https://127.0.0.1/daily_user_summary.txt.bz2" />-->
    <!--<add key="DownloadUrl" value="http://fah-web.stanford.edu/daily_user_summary.txt.bz2" />-->
    <!--<add key="DownloadUrl" value="https://fah-web.stanford.edu/daily_user_summary.txt.bz2" />-->
    <!--<add key="DownloadTimeoutSeconds" value="100" />-->
    <add key="DownloadDirectory" value="G:\StatsDownload\WorkingDirectory" />
  </appSettings>
</configuration>