<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="FoldingCoin"
         connectionString="Server=(localdb)\MSSQLLocalDB;Database=FoldingCoin;Integrated Security=true;" />
  </connectionStrings>
  <appSettings>
    <!--The download Uri is a Uri that describes how to get the stats file or reach a service to download the stats file-->
    <!--<add key="DownloadUri" value="http://127.0.0.1:27779/daily_user_summary.txt.bz2" />-->
    <!--<add key="DownloadUri" value="https://127.0.0.1:41679/daily_user_summary.txt.bz2" />-->

    <add key="DownloadUri" value="http://fah-web.stanford.edu/daily_user_summary.txt.bz2" />
    <!--<add key="DownloadUri" value="https://fah-web.stanford.edu/daily_user_summary.txt.bz2" />-->

    <!--<add key="DownloadUri" value="G:\StatsDownload\FileServer\MockFile\TestHarnessStatsFile.txt.bz2" />-->

    <!--The download timeout overrides the default one hundred second timeout-->
    <!--<add key="DownloadTimeoutSeconds" value="300" />-->

    <!--The download directory overrides the default assembly execution directory-->
    <!--<add key="DownloadDirectory" value="G:\StatsDownload\WorkingDirectory" />-->

    <!--The accept any ssl certificate overrides the default ssl certificate validation-->
    <!--<add key="AcceptAnySslCert" value="true" />-->

    <!--The minimum wait time overrides the default minimum wait time of one hour-->
    <!--<add key="MinimumWaitTimeInHours" value="2"/>-->

    <!--The disable minimum wait time overrides the default behavior of enforcing a minimum wait time-->
    <!--<add key="DisableMinimumWaitTime" value="true"/>-->
  </appSettings>
</configuration>