<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.4.0" targetFramework="net472" />
  <package id="Castle.Windsor" version="5.0.1" targetFramework="net472" />
  <package id="Microsoft.Data.Edm" version="5.8.4" targetFramework="net471" />
  <package id="SharpZipLib.NETStandard" version="1.0.7" targetFramework="net471" />
  <package id="System.Data.SqlClient" version="4.8.0" targetFramework="net472" />
</packages>