<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="FoldingCoin"
         connectionString="Server=(localdb)\MSSQLLocalDB;Database=FoldingCoin;Integrated Security=true;" />
  </connectionStrings>
  <appSettings>
    <!--To enable email services, the following settings need to be configured-->
    <!--<add key="SmtpHost" value="smtp.gmail.com"/>-->
    <!--<add key="Port" value="587"/>-->
    <!--<add key="FromAddress" value="From@Address.tld"/>-->
    <!--<add key="DisplayName" value="Display Name"/>-->
    <!--<add key="Password" value="Password"/>-->
    <!--<add key="Receivers" value="listOfReceivers@domain.tld;more@domain.tld;"/>-->
  </appSettings>
</configuration>