<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <connectionStrings>
    <add name="FoldingCoin"
         connectionString="Server=.;Database=FoldingCoin;Integrated Security=true;ConnectRetryCount=1;" />
  </connectionStrings>
  <appSettings>
    <!--Specify the DbCommand.CommandTimeout value. Default is to not explicitly set, meaning use the framework's default value-->
    <!--<add key="DbCommandTimeout" value="42000"/>-->

    <!--The stats file time zone and offset provides additional time zones to the hard-coded values-->
    <!--<add key="StatsFileTimeZoneAndOffset" value="UTC=0;ZONE=-1;"/>-->

    <!--Enabling the google users filter will filter out users starting with 'google' from the stats upload-->
    <!--<add key="EnableGoogleUsersFilter" value="true"/>-->

    <!--Enabling the nap payment address users filter will filter out users with no payment address available-->
    <!--<add key="EnableNoPaymentAddressUsersFilter" value="true"/>-->

    <!--Enabling the whitespace name users filter will filter out users with an empty user name-->
    <!--<add key="EnableWhitespaceNameUsersFilter" value="true"/>-->

    <!--Enabling the zero point users filter will filter out users with zero points-->
    <!--<add key="EnableZeroPointUsersFilter" value="true"/>-->

    <!--To enable email services, the following settings need to be configured-->
    <!--<add key="SmtpHost" value="smtp.gmail.com"/>-->
    <!--<add key="Port" value="587"/>-->
    <!--<add key="FromAddress" value="From@Address.tld"/>-->
    <!--<add key="DisplayName" value="Display Name"/>-->
    <!--<add key="Password" value="Password"/>-->
    <!--<add key="Receivers" value="listOfReceivers@domain.tld;more@domain.tld;"/>-->
  </appSettings>
</configuration>