<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <connectionStrings>
    <add name="FoldingCoin"
         connectionString="Server=(localdb)\MSSQLLocalDB;Database=FoldingCoin;Integrated Security=true;ConnectRetryCount=1;" />
  </connectionStrings>
  <appSettings>
    <!--Identify the database type 'MicrosoftSql' or 'MySql'; default is MicrosoftSql-->
    <!--<add key="DatabaseType" value="MicrosoftSql"/>-->

    <!--Specify the DbCommand.CommandTimeout value. Default is to not explicitly set, meaning use the framework's default value-->
    <!--<add key="DbCommandTimeout" value="42000"/>-->

    <!--The download Uri is a Uri that describes how to get the stats file or reach a service to download the stats file-->
    <add key="DownloadUri" value="http://fah-web.stanford.edu/daily_user_summary.txt.bz2" />

    <!--The download timeout overrides the default one hundred second timeout-->
    <!--<add key="DownloadTimeoutSeconds" value="300" />-->

    <!--The download directory overrides the default assembly execution directory-->
    <!--<add key="DownloadDirectory" value="G:\StatsDownload\WorkingDirectory" />-->

    <!--The accept any ssl certificate overrides the default ssl certificate validation-->
    <!--<add key="AcceptAnySslCert" value="true" />-->

    <!--The minimum wait time overrides the default minimum wait time of one hour, but not less than one-->
    <!--<add key="MinimumWaitTimeInHours" value="2"/>-->

    <!--To enable email services, the following settings need to be configured-->
    <!--<add key="SmtpHost" value="smtp.gmail.com"/>-->
    <!--<add key="Port" value="587"/>-->
    <!--<add key="FromAddress" value="From@Address.tld"/>-->
    <!--<add key="DisplayName" value="Display Name"/>-->
    <!--<add key="Password" value="Password"/>-->
    <!--<add key="Receivers" value="listOfReceivers@domain.tld;more@domain.tld;"/>-->
  </appSettings>
</configuration>