<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--<add key="FilePath" value="G:\StatsDownload\FileServer\MockFile\TestHarnessStatsFile.txt.bz2" />-->
    <!--<add key="SleepInSeconds" value="300" />-->
  </appSettings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="HttpServiceBehavior">
          <serviceMetadata httpGetEnabled="True" />
        </behavior>
        <behavior name="HttpsServiceBehavior">
          <serviceMetadata
            httpsGetEnabled="True" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="HttpEndpointBehavior">
          <webHttp />
        </behavior>
        <behavior name="HttpsEndpointBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding name="HttpsBindingConfiguration">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <services>
      <service name="StatsDownload.FileServer.TestHarness.TestHarnessFileServer"
               behaviorConfiguration="HttpServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://TenaciousM:27779" />
          </baseAddresses>
        </host>
        <endpoint binding="webHttpBinding" contract="StatsDownload.FileServer.TestHarness.ITestHarnessFileServer"
                  behaviorConfiguration="HttpEndpointBehavior" />
      </service>
      <!--<service name="StatsDownload.FileServer.TestHarness.TestHarnessFileServer"
               behaviorConfiguration="HttpsServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="https://TenaciousM:41679" />
          </baseAddresses>
        </host>
        <endpoint contract="StatsDownload.FileServer.TestHarness.ITestHarnessFileServer"
                  binding="webHttpBinding" bindingConfiguration="HttpsBindingConfiguration"
                  behaviorConfiguration="HttpsEndpointBehavior" />
      </service>-->
    </services>
  </system.serviceModel>
</configuration>