<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--<add key="TestHarnessFileServer.FilePath" value="G:\StatsDownload\FileServer\MockFile\TestHarnessStatsFile.txt.bz2" />-->
  </appSettings>
</configuration>