<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--<add key="TestHarnessFileServer.FilePath" value="G:\StatsDownload\FileServer\MockFile\TestHarnessStatsFile.txt.bz2" />-->
  </appSettings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="True" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="EndpointBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="StatsDownload.FileServer.TestHarness.TestHarnessFileServer"
               behaviorConfiguration="ServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://127.0.0.1" />
          </baseAddresses>
        </host>
        <endpoint binding="webHttpBinding" contract="StatsDownload.FileServer.TestHarness.ITestHarnessFileServer"
                  behaviorConfiguration="EndpointBehavior" />
      </service>
    </services>
  </system.serviceModel>
</configuration>