<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="FoldingCoin.Database"
         connectionString="Server=.;Database=FoldingCoin;Integrated Security=true;ConnectRetryCount=3;" />
    <add name="FoldingCoin.Storage"
         connectionString="DefaultEndpointsProtocol=protocol;AccountName=name;AccountKey=key;EndpointSuffix=suffix" />
  </connectionStrings>
  <appSettings>
    <!--Data store types: Unc, Azure; the default is Unc-->
    <add key="DataStoreType" value="Azure" />

    <!--The container name is used in azure to containerize the data-->
    <add key="AzureDataStore.ContainerName" value="development" />

    <!--Upload directory; depending on the data store type, could be a UNC path or a path in an Azure blob-->
    <add key="UploadDirectory" value="\\uncpath" />
    <!--<add key="UploadDirectory" value="azurepath" />-->

    <!--Specify the DbCommand.CommandTimeout value. Default is to not explicitly set, meaning use the framework's default value-->
    <!--<add key="DbCommandTimeout" value="300"/>-->

    <!--The download Uri is a Uri that describes how to get the stats file or reach a service to download the stats file-->
    <!--<add key="DownloadUri" value="http://127.0.0.1:27779/daily_user_summary.txt.bz2" />-->
    <!--<add key="DownloadUri" value="https://127.0.0.1:41679/daily_user_summary.txt.bz2" />-->

    <!--To test the failing of downloading the compressed file-->
    <!--<add key="DownloadUri" value="http://127.0.0.1:27779/fail_download.bz2" />-->

    <!--To test the failing of decompressing the download file-->
    <!--<add key="DownloadUri" value="http://127.0.0.1:27779/decompressable.bz2" />-->

    <!--To test the download timing out-->
    <!--<add key="DownloadUri" value="http://127.0.0.1:27779/timeout.bz2" />-->

    <!--To test an invalid stats file incoming-->
    <!--<add key="DownloadUri" value="http://127.0.0.1:27779/invalid_file.txt.bz2" />-->

    <!--To test an invalid folder record incoming-->
    <!--<add key="DownloadUri" value="http://127.0.0.1:27779/invalid_folder.txt.bz2" />-->

    <!--To test when the source does not exist (make sure file doesn't exist :P)-->
    <!--<add key="DownloadUri" value="C:\NoFile.bz2" />-->

    <!--The current FAH download URL-->
    <add key="DownloadUri" value="https://apps.foldingathome.org/daily_user_summary.txt.bz2" />

    <!--The download timeout overrides the default one hundred second timeout-->
    <!--<add key="DownloadTimeoutSeconds" value="300" />-->

    <!--The download directory overrides the default assembly execution directory-->
    <!--<add key="DownloadDirectory" value="G:\StatsDownload\WorkingDirectory" />-->

    <!--The accept any ssl certificate overrides the default ssl certificate validation-->
    <!--<add key="AcceptAnySslCert" value="true" />-->

    <!--The minimum wait time overrides the default minimum wait time of one hour, but not less than one-->
    <!--<add key="MinimumWaitTimeInHours" value="2"/>-->

    <!--The stats file time zone and offset provides additional time zones to the hard-coded values-->
    <!--<add key="StatsFileTimeZoneAndOffset" value="UTC=0;ZONE=-1;"/>-->

    <!--Enabling the google users filter will filter out users starting with 'google' from the stats upload-->
    <!--<add key="EnableGoogleUsersFilter" value="true"/>-->

    <!--Enabling the no payment address users filter will filter out users with no payment address available-->
    <!--<add key="EnableNoPaymentAddressUsersFilter" value="true"/>-->

    <!--Enabling the whitespace name users filter will filter out users with an empty user name-->
    <!--<add key="EnableWhitespaceNameUsersFilter" value="true"/>-->

    <!--Enabling the zero point users filter will filter out users with zero points-->
    <!--<add key="EnableZeroPointUsersFilter" value="true"/>-->

    <!--To enable email services, the following settings need to be configured-->
    <!--<add key="SmtpHost" value="smtp.gmail.com"/>-->
    <!--<add key="Port" value="587"/>-->
    <!--<add key="FromAddress" value="From@Address.tld"/>-->
    <!--<add key="DisplayName" value="Display Name"/>-->
    <!--<add key="Password" value="Password"/>-->
    <!--<add key="Receivers" value="listOfReceivers@domain.tld;more@domain.tld;"/>-->

    <!--Test Harness Only Configuration-->
    <!--The disable minimum wait time overrides the default behavior of enforcing a minimum wait time-->
    <add key="DisableMinimumWaitTime" value="true" />

    <!--Test Harness Only Configuration-->
    <!--The disable secure file payload overrides the default behavior of attempting to secure the download of the file payload-->
    <!--<add key="DisableSecureFilePayload" value="true" />-->

    <!--Test Harness Only Configuration-->
    <!--Enabling the one hundred users filter will filter out users after on hundred users-->
    <!--<add key="EnableOneHundredUsersFilter" value="true"/>-->

    <!--Test Harness Only Configuration-->
    <!--Enabling the sql exception during AddUsers test will throw a SQL exception after adding two users-->
    <!--<add key="EnableSqlExceptionDuringAddUsersTest" value="true"/>-->

    <!--Test Harness Only Configuration-->
    <!--The disable file compression overrides the default behavior of decompressing the file payload-->
    <!--<add key="FileCompressionDisabled" value="true"/>-->
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>